{% extends 'consultant/.html.twig' %}

{% block title %}User {{ user.nom }}{% endblock %}

{% block main %}

        <div style="border-radius: 20px;width: 1000px;margin: auto;background-color: white">
            {% set ramdonNumber = random(1,17) %}
            <div style="height: 300px;background-color: #5B98D2;border-radius: 20px;display: flex; justify-content: center; align-items: center; text-align: center;background-image:url('{{ asset('images/lol/large/' ~ ramdonNumber ~'.png') }}');background-size: cover;">
                <h1 style="font-size: 4em;color: white;-webkit-text-stroke: 2px red;">
                    {% if user.roles[0] == "ROLE_ADMIN" %}
                        ADMIN
                    {% elseif user.roles[0] == "ROLE_OPERATIONNEL" %}
                        OPERATIONNEL
                    {% elseif user.roles[0] == "ROLE_CONSULTANT" %}
                        CONSULTANT
                    {% endif %}
                </h1>
            </div>
            <div style="display: flex;justify-content: space-between;">
                <div style="position: relative; top: -75px;left: 75px;width: 150px">
                    <img src="https://cdn-icons-png.flaticon.com/512/147/147142.png" width="150px">
                </div>
                <div style="display: flex;flex-wrap: wrap;gap: 5px;width: 300px;padding-top: 8px;">
                    {% for softskill in user.softSkills %}
                        <p style="border-radius: 20px;border: 1px solid #5B98D2;padding: 5px" > {{ softskill.nom }} </p>
                    {% endfor %}
                </div>
            </div>

            <div style="padding: 0 20px 20px 20px">
                <h1 style="font-weight: bold;font-size: 1.4em;position: relative;top: -40px;">{{ user.nom|capitalize }} {{ user.prenom|capitalize }}</h1>
                <div style="display: flex;gap: 10px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 512 512"><path fill="#0B67B2" d="M16.101 433.477c51.257 11.934 102.515 11.496 153.772 6.648v-.146c106.749-10.903 213.498-42.724 320.248-17.049c9.944 2.392 19.499-5.177 19.499-15.405V94.03c0-.632-.05-1.253-.123-1.868c-2.445-6.466-8.167-12.093-14.835-13.639c-97.449-22.688-194.899-.69-292.348 11.399c-10.813 1.452-21.626 2.773-32.439 3.878v-.3c-51.257 4.848-102.515 5.286-153.772-6.648C7.209 84.79 0 89.89 0 98.788v314.424c0 8.886 7.209 18.204 16.101 20.265z"/><path fill="#FF473E" d="M509.619 92.532c-2.364-6.619-8.163-12.435-14.959-14.01c-51.638-12.022-103.276-11.49-154.914-6.54v346.626c51.638-4.95 103.276-5.482 154.914 6.54c6.795 1.575 12.595-1.041 14.959-6.328V92.532z"/><path fill="#E8E8E8" d="M169.873 440.125c56.624-5.356 113.249-16.089 169.873-21.517V71.982c-56.624 5.428-113.249 16.161-169.873 21.517v346.626z"/></svg>
                    <p>{{ user.adresse }}</p>
                </div>
                <div>
                    <div style="display: flex;justify-content: space-between">
                        <p>{{ user.email }}</p>
                        <p class="text-gray-900 whitespace-no-wrap">
                        {% if user.isVerified %}
                            <span
                                class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                                    <span aria-hidden
                                          class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                                <span class="relative">Compte Vérifié</span>
                                </span>
                        {% else %}
                            <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                                        <span aria-hidden class="absolute inset-0 bg-red-200 opacity-50 rounded-full"></span>
									<span class="relative">En attente de vérification mail</span>
                            </span>
                        {% endif %}
                        </p>
                    </div>

                    <p>{{ user.tel }}</p>
                    <p>Né : {{ user.dateDeNaissance|date("d-m-Y")  }}</p>
                    <p>{{ user.description }}</p>
                    {% if user.linkLinkedin != null %}
                        <p>Lien Linkedin: {{ user.linkLinkedin }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% set medor = 0 %}
        {% set medsilver = 0 %}
        {% set medbronze = 0 %}
        {% for testresult in user.testResults %}
            {% if testresult.result >=60 %}
                {% if testresult.idTest.difficulte == 1 %}
                    {% set medbronze = medbronze +1 %}
                {% elseif testresult.idTest.difficulte == 2 %}
                    {% set medsilver = medbronze +1 %}
                {% elseif testresult.idTest.difficulte == 3 %}
                    {% set medor = medbronze +1 %}
                {% endif %}
            {% endif %}
        {% endfor %}
        <div style="border-radius: 20px;width: 1000px;margin: auto;background-color: white;margin-top: 50px;padding:20px">
            <div style="display: flex;justify-content: space-evenly">
                <div style="display: flex;flex-direction:row;justify-content: center;width: 300px;justify-items: center;align-items: center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 512 512"><path fill="#f2d350" d="M223.75 130.75L154.62 15.54A31.997 31.997 0 0 0 127.18 0H16.03C3.08 0-4.5 14.57 2.92 25.18l111.27 158.96c29.72-27.77 67.52-46.83 109.56-53.39zM495.97 0H384.82c-11.24 0-21.66 5.9-27.44 15.54l-69.13 115.21c42.04 6.56 79.84 25.62 109.56 53.38L509.08 25.18C516.5 14.57 508.92 0 495.97 0zM256 160c-97.2 0-176 78.8-176 176s78.8 176 176 176s176-78.8 176-176s-78.8-176-176-176zm92.52 157.26l-37.93 36.96l8.97 52.22c1.6 9.36-8.26 16.51-16.65 12.09L256 393.88l-46.9 24.65c-8.4 4.45-18.25-2.74-16.65-12.09l8.97-52.22l-37.93-36.96c-6.82-6.64-3.05-18.23 6.35-19.59l52.43-7.64l23.43-47.52c2.11-4.28 6.19-6.39 10.28-6.39c4.11 0 8.22 2.14 10.33 6.39l23.43 47.52l52.43 7.64c9.4 1.36 13.17 12.95 6.35 19.59z"/></svg>

                    <p style="font-weight: bold;font-size: 2.5em">{{ medor }}</p>
                </div>
                <div style="display: flex;flex-direction:row;justify-content: center;width: 300px;justify-items: center;align-items: center">

                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 512 512"><path fill="silver" d="M223.75 130.75L154.62 15.54A31.997 31.997 0 0 0 127.18 0H16.03C3.08 0-4.5 14.57 2.92 25.18l111.27 158.96c29.72-27.77 67.52-46.83 109.56-53.39zM495.97 0H384.82c-11.24 0-21.66 5.9-27.44 15.54l-69.13 115.21c42.04 6.56 79.84 25.62 109.56 53.38L509.08 25.18C516.5 14.57 508.92 0 495.97 0zM256 160c-97.2 0-176 78.8-176 176s78.8 176 176 176s176-78.8 176-176s-78.8-176-176-176zm92.52 157.26l-37.93 36.96l8.97 52.22c1.6 9.36-8.26 16.51-16.65 12.09L256 393.88l-46.9 24.65c-8.4 4.45-18.25-2.74-16.65-12.09l8.97-52.22l-37.93-36.96c-6.82-6.64-3.05-18.23 6.35-19.59l52.43-7.64l23.43-47.52c2.11-4.28 6.19-6.39 10.28-6.39c4.11 0 8.22 2.14 10.33 6.39l23.43 47.52l52.43 7.64c9.4 1.36 13.17 12.95 6.35 19.59z"/></svg>
                    <p style="font-weight: bold;font-size: 2.5em">{{ medsilver }}</p>
                </div>
                <div style="display: flex;flex-direction:row;justify-content: center;width: 300px;justify-items: center;align-items: center">

                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 512 512"><path fill="#cd7f32" d="M223.75 130.75L154.62 15.54A31.997 31.997 0 0 0 127.18 0H16.03C3.08 0-4.5 14.57 2.92 25.18l111.27 158.96c29.72-27.77 67.52-46.83 109.56-53.39zM495.97 0H384.82c-11.24 0-21.66 5.9-27.44 15.54l-69.13 115.21c42.04 6.56 79.84 25.62 109.56 53.38L509.08 25.18C516.5 14.57 508.92 0 495.97 0zM256 160c-97.2 0-176 78.8-176 176s78.8 176 176 176s176-78.8 176-176s-78.8-176-176-176zm92.52 157.26l-37.93 36.96l8.97 52.22c1.6 9.36-8.26 16.51-16.65 12.09L256 393.88l-46.9 24.65c-8.4 4.45-18.25-2.74-16.65-12.09l8.97-52.22l-37.93-36.96c-6.82-6.64-3.05-18.23 6.35-19.59l52.43-7.64l23.43-47.52c2.11-4.28 6.19-6.39 10.28-6.39c4.11 0 8.22 2.14 10.33 6.39l23.43 47.52l52.43 7.64c9.4 1.36 13.17 12.95 6.35 19.59z"/></svg>
                    <p style="font-weight: bold;font-size: 2.5em">{{ medbronze }}</p>
                </div>

            </div>
        </div>
        <div style="border-radius: 20px;width: 1000px;margin: auto;background-color: white;margin-top: 50px;padding-bottom: 20px">
            <h1 style="font-weight: bold;font-size: 2em;text-align: center;padding-top: 20px;margin-bottom: 10px">Hard Skills</h1>
            <div style="display: flex;flex-wrap: wrap; gap:20px;flex-basis: 200px;justify-content: space-evenly">
                {% for testresult in user.testResults %}
                    {% if testresult.result >=60 %}
                        <div style="border: 1px solid #5B98D2;border-radius: 20px; padding: 10px;width: 240px">
                            <div>
                                {% if testresult.idTest.difficulte == 1 %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 512 512"><path fill="#cd7f32" d="M223.75 130.75L154.62 15.54A31.997 31.997 0 0 0 127.18 0H16.03C3.08 0-4.5 14.57 2.92 25.18l111.27 158.96c29.72-27.77 67.52-46.83 109.56-53.39zM495.97 0H384.82c-11.24 0-21.66 5.9-27.44 15.54l-69.13 115.21c42.04 6.56 79.84 25.62 109.56 53.38L509.08 25.18C516.5 14.57 508.92 0 495.97 0zM256 160c-97.2 0-176 78.8-176 176s78.8 176 176 176s176-78.8 176-176s-78.8-176-176-176zm92.52 157.26l-37.93 36.96l8.97 52.22c1.6 9.36-8.26 16.51-16.65 12.09L256 393.88l-46.9 24.65c-8.4 4.45-18.25-2.74-16.65-12.09l8.97-52.22l-37.93-36.96c-6.82-6.64-3.05-18.23 6.35-19.59l52.43-7.64l23.43-47.52c2.11-4.28 6.19-6.39 10.28-6.39c4.11 0 8.22 2.14 10.33 6.39l23.43 47.52l52.43 7.64c9.4 1.36 13.17 12.95 6.35 19.59z"/></svg>
                                {% elseif testresult.idTest.difficulte == 2 %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 512 512"><path fill="silver" d="M223.75 130.75L154.62 15.54A31.997 31.997 0 0 0 127.18 0H16.03C3.08 0-4.5 14.57 2.92 25.18l111.27 158.96c29.72-27.77 67.52-46.83 109.56-53.39zM495.97 0H384.82c-11.24 0-21.66 5.9-27.44 15.54l-69.13 115.21c42.04 6.56 79.84 25.62 109.56 53.38L509.08 25.18C516.5 14.57 508.92 0 495.97 0zM256 160c-97.2 0-176 78.8-176 176s78.8 176 176 176s176-78.8 176-176s-78.8-176-176-176zm92.52 157.26l-37.93 36.96l8.97 52.22c1.6 9.36-8.26 16.51-16.65 12.09L256 393.88l-46.9 24.65c-8.4 4.45-18.25-2.74-16.65-12.09l8.97-52.22l-37.93-36.96c-6.82-6.64-3.05-18.23 6.35-19.59l52.43-7.64l23.43-47.52c2.11-4.28 6.19-6.39 10.28-6.39c4.11 0 8.22 2.14 10.33 6.39l23.43 47.52l52.43 7.64c9.4 1.36 13.17 12.95 6.35 19.59z"/></svg>
                                {% elseif testresult.idTest.difficulte == 3 %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 512 512"><path fill="#f2d350" d="M223.75 130.75L154.62 15.54A31.997 31.997 0 0 0 127.18 0H16.03C3.08 0-4.5 14.57 2.92 25.18l111.27 158.96c29.72-27.77 67.52-46.83 109.56-53.39zM495.97 0H384.82c-11.24 0-21.66 5.9-27.44 15.54l-69.13 115.21c42.04 6.56 79.84 25.62 109.56 53.38L509.08 25.18C516.5 14.57 508.92 0 495.97 0zM256 160c-97.2 0-176 78.8-176 176s78.8 176 176 176s176-78.8 176-176s-78.8-176-176-176zm92.52 157.26l-37.93 36.96l8.97 52.22c1.6 9.36-8.26 16.51-16.65 12.09L256 393.88l-46.9 24.65c-8.4 4.45-18.25-2.74-16.65-12.09l8.97-52.22l-37.93-36.96c-6.82-6.64-3.05-18.23 6.35-19.59l52.43-7.64l23.43-47.52c2.11-4.28 6.19-6.39 10.28-6.39c4.11 0 8.22 2.14 10.33 6.39l23.43 47.52l52.43 7.64c9.4 1.36 13.17 12.95 6.35 19.59z"/></svg>
                                {% endif %}
                                <p style="font-size: 1.2em;font-weight: 500">{{ testresult.idTest.nom }}
                                    {% if testresult.idTest.difficulte == 3 %}
                                        Expert
                                    {% elseif testresult.idTest.difficulte == 2 %}
                                        Intermediare
                                    {% elseif testresult.idTest.difficulte == 1 %}
                                        Starter
                                        {% endif %}
                                </p>

                            </div>
                            <div>
                                <p>Obtenu: {{ testresult.createdAt|date("d-m-Y") }}</p>
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}
            </div>
        </div>
{% endblock %}
