{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="flex items-center justify-center h-screen w-1/2 mx-auto  min-h-full flex-col justify-center px-6 py-12 lg:px-8 bg-white" >

    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900 text-black">Reset your password</h2>

    {{ form_start(requestForm) }}
        <div class ="form__group field">
          {{ form_widget(requestForm.email, { 'attr': {'class': 'm-10 form__field', 'id' : 'inputEmail', 'type' : 'email', 'placeholder':'Email'}})}}
          {{ form_label(requestForm.email, 'Email', {'label_attr': {'class': 'form__label', 'for':'inputEmail'}}) }}
        </div>

        <button class="btn red-button cta">Send password reset email</button>
    {{ form_end(requestForm) }}
    </div>
{% endblock %}
