{% extends 'consultant/consultant.html.twig' %}

{% block title %}users index{% endblock %}

{% block javascripts %}
<script type="text/javascript" defer>
const input = document.querySelectorAll('.techno');
const span = document.querySelectorAll('[data-hardskill]');
const tr = document.querySelectorAll('tr');
input.forEach((input) => {
    input.addEventListener('change', () => {
      //if no .techno:checked show all

        const checked = document.querySelectorAll('.techno:checked');
        const checkedValues = Array.from(checked).map((el) => el.value);
        span.forEach((span) => {
            if (checkedValues.includes(span.dataset.hardskill)) {
                span.parentElement.parentElement.style.display = 'table-row';
            } else {
                span.parentElement.parentElement.style.display = 'none';
            }
        });
            if (!document.querySelector('.techno:checked')) {
            tr.forEach((tr) => {
                tr.style.display = 'table-row';
            });
        }
    });
});
</script>
{% endblock %}

{% block body %}
<main class="d-flex flex-nowrap">
<br>
<br>
<br>
  <div class="flex flex-col">

            {% for techno in technos %}
                <div>
                    
                  <input type="checkbox" name="techno" value="{{ techno.id }}" id="{{ techno.id }}" class="techno">
                    {{ techno.nom }}
                  </input>
                  <!--<input type="checkbox" name"soft-skill" valute="{# soft_skill.id #}" id="{#soft_skills.id #}" class="soft-skill"> 
                  {# soft_skill.nom #}
                  </input>-->
                </div>
                <br>
            {% endfor %}
        </div>
    <div style="width: 80%">
    
        <div>
            <h1>Users</h1>
            <ul class="list-unstyled">

            <table class="table" style="border-spacing: 5px;">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>prenom</th>
                    <th>email</th>
                    <td>softSkills</td>
                    <td>Hardskill</td>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr style="border-spacing: 5px;">
                        <td>{{ user.id }}</td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.softSkills|length  }}</td>
                        <td><span data-hardskill="1" >React</span>
                    
                          {% for testResult in user.testResults %}
                            <span data-hardskill={{testResult.test.hardskill.id}} id={{testResult.test.hardskill.id}}> {{ testResult.test.hardskill.nom }}
                            </span>
                          {% endfor %}
                        </td>

                        
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            
        </div>

    </div>
</main>

{% endblock %}